.block{
    width: 100vw;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.focus{
    max-width: 60vw;
    margin: 0 auto;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    margin: auto;
    text-align: center;
}